body {
  font-family: "Noto Sans KR", sans-serif;
  font-family: "Poppins", sans-serif;
  margin: 0;
}
h1 {
  font-size: 65px;
  color: rgb(25, 21, 21);
  line-height: 0.5;
}
.Text-move {
  padding-top: 180px;
  padding-left: 100px;
}
#section-paragraph {
  font-size: 20px;
  padding-top: 15px;
  padding-bottom: 30px;
  color: rgba(30, 20, 8, 0.503);
}
span {
  color: orange;
}
.flexible-container {
  display: flex;
}
.padding-top {
  padding-top: 90px;
}
.margin-bottom {
  margin-bottom: 80px;
}
.half-width {
  width: 50%;
  padding-left: 5%;
}

.button {
  background-image: linear-gradient(orange, tomato);
  text-decoration: none;
  color: aliceblue;
  font-size: 20px;
  padding: 20px 40px;
  border-radius: 35px;
  box-shadow: 0px 0px 20px 2px rgba(243, 79, 20, 0.401);
}
.second-section {
  background-image: url(images/shapes/Frame\ 58.jpg);
  background-size: cover;
  height: 500px;
}
#seceond-image {
  max-width: 100%;
  height: 500px;
  padding-left: 250px;
  padding-right: 330px;
}
.second-section h2 {
  font-size: 40px;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgba(14, 10, 10, 0.51);
}
h2 {
    font-size: 40px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(14, 10, 10);
  }
#seceond-section-paragraph {
  font-size: 20px;
  padding-bottom: 80px;
  margin-right: 200px;
}
.third-section {
  margin-top: 50px;
}
.center-section {
  margin: 0 auto;
  text-align: center;
}
.center-section p {
  margin-left: 25%;
  margin-right: 25%;
  font-size: 20px;
}
.thrid-section-bonas {
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
  margin-top: 50px;
}
.thrid-section-bonas h2 {
  text-align: center;
  font-weight: 800;
  font-family: popins;
}
.thrid-section-bonas p{
    font-size: 20px;
    text-align: left;
    padding-left: 20px ;
    padding-right: 20px ;
    
}
.threeple-width {
  width: 25%;
  padding-top: 18px;
  border-radius: 25px;
  box-shadow: 0 0 20px 4px rgba(0, 0, 0, 0.163);
  margin-left: 60px;
}
.threeple-width img {
  height: 250px;
}
.last-section {
  text-align: center;
  justify-content: center;
  align-items: center;
}
.last-section-bonus {
  border-left: white solid 160px;
  border-right: white solid 180px;
  box-shadow: 0 0 20px 4px rgba(0, 0, 0, 0.163);
  margin-left: 2%;
  border-radius: 25px;
}
.last-section-bonus h1{
    margin-top: 90px;
}
.last-section-bonus p{
    margin-bottom: 90px;
    margin-top: 0px;
    font-size: 20px;
    
}
#middle-man {
  padding-left: 220px;
  padding-right: 220px;
}

footer {
  background-color: black;
  height: 280px;
  text-align: center;
  justify-content: center;
  align-items: center;
}
footer h2 {
  padding-top: 20px;
  color: white;
}
footer p {
  color: white;
}
